In [107]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("Spark").getOrCreate()
df = spark.read.csv("data (1).csv", header=True, inferSchema=True)
df.show()

+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|      days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| -8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| -4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| -5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| -4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0| 340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| -926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| -2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| -152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| -6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|-2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| -4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| -792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0|               NULL|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|              NULL|     сыграть свадьбу|
|       0|-1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|-1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| -972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|-1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| -2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0|  400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|-10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+-------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+

Импортируем необходимые бибилотеки, а также читаем и выводим исходный дата фрейм

In [108]:
df1 = df.select([count(when(col(c).contains('None') | col(c).contains('NULL') | (col(c) == '' ) | col(c).isNull() | isnan(c), c )).alias(c) for c in df.columns])
df1.show()

+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------+-------+
|children|days_employed|dob_years|education|education_id|family_status|family_status_id|gender|income_type|debt|total_income|purpose|
+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------+-------+
|       0|         2174|        0|        0|           0|            0|               0|     0|          0|   0|        2174|      0|
+--------+-------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------+-------+

Во всем файле найдены пустые значения только в двух столбцах, которые содержат информацию о количестве отработанных дней а также о ежемесячном доходе, из чего можно сделать вывод о том, что человек сейчас не трудоустроен, т.е. не может получать за это зарплату

In [109]:
df2 = df.select([(count(when(col(c).contains('None') | col(c).contains('NULL') | (col(c) == '' ) | col(c).isNull() | isnan(c), c ))*100/count(lit(1))).alias(c) for c in df.columns])
df2.show()

+--------+------------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------------+-------+
|children|     days_employed|dob_years|education|education_id|family_status|family_status_id|gender|income_type|debt|      total_income|purpose|
+--------+------------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------------+-------+
|     0.0|10.099883855981417|      0.0|      0.0|         0.0|          0.0|             0.0|   0.0|        0.0| 0.0|10.099883855981417|    0.0|
+--------+------------------+---------+---------+------------+-------------+----------------+------+-----------+----+------------------+-------+

рассчет доли количества пропусков от общего количества значений в столбце в процентах.

In [110]:
df = df.withColumn("days_employed", F.abs('days_employed'))
days_employed_median = df.agg(F.median('days_employed')).collect()[0][0]
df = df.fillna({'days_employed': days_employed_median})
df.show()

+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|children|     days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|      total_income|             purpose|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+
|       1| 8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0| 253875.6394525987|       покупка жилья|
|       1| 4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|112080.01410244203|приобретение авто...|
|       0| 5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|145885.95229686378|       покупка жилья|
|       3| 4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0| 267628.5503294142|дополнительное об...|
|       0|340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|158616.07787006293|     сыграть свадьбу|
|       0| 926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|255763.56541904988|       покупка жилья|
|       0| 2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0| 240525.9719203061|   операции с жильем|
|       0| 152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|135823.93419727974|         образование|
|       2| 6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0| 95856.83242386373|на проведение сва...|
|       0|2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|144425.93827708642|покупка жилья для...|
|       2| 4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0| 113943.4914603043|покупка недвижимости|
|       0| 792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 77069.23427130934|покупка коммерчес...|
|       0| 2194.220566878695|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|              NULL|     сыграть свадьбу|
|       0|1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|130458.22885695785|приобретение авто...|
|       0|1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|165127.91177218047|покупка жилой нед...|
|       1| 972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|116820.90444993385|строительство соб...|
|       0|1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0| 289202.7042292056|        недвижимость|
|       0| 2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0| 90410.58674466488|строительство нед...|
|       0| 400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|  56823.7772431838|на покупку подерж...|
|       0|10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|  242831.107981772|на покупку своего...|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------------+--------------------+

Заполнение данных медианным способом является лучшим решением для количественных переменных, так как на медиану не влияет посторонний "шум". К тому же, количество наших данных велико, поэтому медиана будет равняться среднему значению данных.
данный блок кода проверяет каждое значение в столбце days_employed, и если оно отрицательно, то возвращеает это же значение по модулю, а также заполняет пропуски медианным способом Возможно, отрицательность значений вызвана программным сбоем при заполнении значений

In [111]:
total_income_median = df.agg(F.median('total_income')).collect()[0][0]
df = df.fillna({'total_income': total_income_median})
df = df.withColumn('total_income', df['total_income'].cast(IntegerType()))
df.show()

+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|          education|education_id|   family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+
|       1| 8437.673027760233|       42|             высшее|           0| женат / замужем|               0|     F|  сотрудник|   0|      253875|       покупка жилья|
|       1| 4024.803753850451|       36|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      112080|приобретение авто...|
|       0| 5623.422610230956|       33|            Среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      145885|       покупка жилья|
|       3| 4124.747206540018|       32|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      267628|дополнительное об...|
|       0|340266.07204682194|       53|            среднее|           1|гражданский брак|               1|     F|  пенсионер|   0|      158616|     сыграть свадьбу|
|       0| 926.1858308789183|       27|             высшее|           0|гражданский брак|               1|     M|  компаньон|   0|      255763|       покупка жилья|
|       0| 2879.202052139952|       43|             высшее|           0| женат / замужем|               0|     F|  компаньон|   0|      240525|   операции с жильем|
|       0| 152.7795691752705|       50|            СРЕДНЕЕ|           1| женат / замужем|               0|     M|  сотрудник|   0|      135823|         образование|
|       2| 6929.865298973741|       35|             ВЫСШЕЕ|           0|гражданский брак|               1|     F|  сотрудник|   0|       95856|на проведение сва...|
|       0|2188.7564450779378|       41|            среднее|           1| женат / замужем|               0|     M|  сотрудник|   0|      144425|покупка жилья для...|
|       2| 4171.483646903305|       36|             высшее|           0| женат / замужем|               0|     M|  компаньон|   0|      113943|покупка недвижимости|
|       0| 792.7018870609315|       40|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|       77069|покупка коммерчес...|
|       0| 2194.220566878695|       65|            среднее|           1|гражданский брак|               1|     M|  пенсионер|   0|      145017|     сыграть свадьбу|
|       0|1846.6419410560736|       54|неоконченное высшее|           2| женат / замужем|               0|     F|  сотрудник|   0|      130458|приобретение авто...|
|       0|1844.9561821875545|       56|             высшее|           0|гражданский брак|               1|     F|  компаньон|   1|      165127|покупка жилой нед...|
|       1| 972.3644189900732|       26|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      116820|строительство соб...|
|       0|1719.9342261530542|       35|            среднее|           1| женат / замужем|               0|     F|  сотрудник|   0|      289202|        недвижимость|
|       0| 2369.999720209008|       33|             высшее|           0|гражданский брак|               1|     M|  сотрудник|   0|       90410|строительство нед...|
|       0| 400281.1369125588|       53|            среднее|           1|  вдовец / вдова|               2|     F|  пенсионер|   0|       56823|на покупку подерж...|
|       0|10038.818548915877|       48|            СРЕДНЕЕ|           1|       в разводе|               3|     F|  сотрудник|   0|      242831|на покупку своего...|
+--------+------------------+---------+-------------------+------------+----------------+----------------+------+-----------+----+------------+--------------------+

данный блок кода изменяет вещественный тип значений в столбце total_income на целочисленный, используя метод astype

In [112]:
df = df.drop_duplicates()
df.show()

+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|       0|4341.7867754100425|       53|  среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      261369|операции с недвиж...|
|       0|12930.541677797675|       61|  среднее|           1|Не женат / не зам...|               4|     F|  компаньон|   0|      173896|        недвижимость|
|       1| 3267.738265311034|       45|   высшее|           0|    гражданский брак|               1|     F|  сотрудник|   0|      118552|на проведение сва...|
|       2|2844.5470858598133|       40|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|
|       1|1399.8326217520041|       40|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|
|       1| 918.4577035188928|       28|   высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|      111341|     свой автомобиль|
|       1| 2194.220566878695|       26|  среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      145017|операции с коммер...|
|       1| 883.7834692065311|       27|  среднее|           1|    гражданский брак|               1|     F|  сотрудник|   0|      229051|  высшее образование|
|       1| 669.0530823899172|       41|   высшее|           0|     женат / замужем|               0|     M|  компаньон|   1|      125377|сделка с подержан...|
|       0| 392327.7284041557|       66|  среднее|           1|     женат / замужем|               0|     M|  пенсионер|   0|      106022|строительство жил...|
|       0|3402.0833655451306|       27|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|
|       0| 1380.192461002104|       51|  среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      101941|          автомобиль|
|       0| 165.5972845299278|       54|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|
|       1| 641.2886784154639|       34|   высшее|           0|     женат / замужем|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|
|       0|1741.0828917220367|       56|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|
|       0|1198.2809136383146|       43|   высшее|           0|           в разводе|               3|     M|госслужащий|   0|      191350|строительство жил...|
|       0| 995.5496521801937|       43|  среднее|           1|    гражданский брак|               1|     M|  сотрудник|   1|      143302|               жилье|
|       0| 3948.224795314823|       49|  среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       43538|       покупка жилья|
|       0|1368.2402581402926|       45|  среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|       57508|строительство нед...|
|       0|  333354.587972724|       58|   высшее|           0|     женат / замужем|               0|     F|  пенсионер|   0|       69131|       покупка жилья|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+

используя метод drop_duplicates избавляемся от строк-дубликатов. Вероятно, дубликаты появились при объединении нескольких фреймов данных.

In [113]:
df = df.withColumn('education', initcap(col('education')))
df.show()

+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|education|education_id|       family_status|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+
|       0|4341.7867754100425|       53|  Среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      261369|операции с недвиж...|
|       0|12930.541677797675|       61|  Среднее|           1|Не женат / не зам...|               4|     F|  компаньон|   0|      173896|        недвижимость|
|       1| 3267.738265311034|       45|   Высшее|           0|    гражданский брак|               1|     F|  сотрудник|   0|      118552|на проведение сва...|
|       2|2844.5470858598133|       40|  Среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|
|       1|1399.8326217520041|       40|  Среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|
|       1| 918.4577035188928|       28|   Высшее|           0|     женат / замужем|               0|     F|  компаньон|   0|      111341|     свой автомобиль|
|       1| 2194.220566878695|       26|  Среднее|           1|    гражданский брак|               1|     F|  компаньон|   0|      145017|операции с коммер...|
|       1| 883.7834692065311|       27|  Среднее|           1|    гражданский брак|               1|     F|  сотрудник|   0|      229051|  высшее образование|
|       1| 669.0530823899172|       41|   Высшее|           0|     женат / замужем|               0|     M|  компаньон|   1|      125377|сделка с подержан...|
|       0| 392327.7284041557|       66|  Среднее|           1|     женат / замужем|               0|     M|  пенсионер|   0|      106022|строительство жил...|
|       0|3402.0833655451306|       27|  Среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|
|       0| 1380.192461002104|       51|  Среднее|           1|     женат / замужем|               0|     M|  сотрудник|   0|      101941|          автомобиль|
|       0| 165.5972845299278|       54|  Среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|
|       1| 641.2886784154639|       34|   Высшее|           0|     женат / замужем|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|
|       0|1741.0828917220367|       56|  Среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|
|       0|1198.2809136383146|       43|   Высшее|           0|           в разводе|               3|     M|госслужащий|   0|      191350|строительство жил...|
|       0| 995.5496521801937|       43|  Среднее|           1|    гражданский брак|               1|     M|  сотрудник|   1|      143302|               жилье|
|       0| 3948.224795314823|       49|  Среднее|           1|     женат / замужем|               0|     F|  сотрудник|   0|       43538|       покупка жилья|
|       0|1368.2402581402926|       45|  Среднее|           1|     женат / замужем|               0|     M|  компаньон|   0|       57508|строительство нед...|
|       0|  333354.587972724|       58|   Высшее|           0|     женат / замужем|               0|     F|  пенсионер|   0|       69131|       покупка жилья|
+--------+------------------+---------+---------+------------+--------------------+----------------+------+-----------+----+------------+--------------------+

В данном блоке кода мы выбираем столбец education и используя метод str.capitalize приводим значения в нем к одному регистру, а именно - первая буква заглавная, остальные строчные. Также в этом же блоке

In [114]:
dfED = df.select('education', 'education_id')
dfED = dfED.drop_duplicates().sort(['education_id'])
dfED.show()

+-------------------+------------+
|          education|education_id|
+-------------------+------------+
|             Высшее|           0|
|            Среднее|           1|
|Неоконченное Высшее|           2|
|          Начальное|           3|
|     Ученая Степень|           4|
+-------------------+------------+

In [115]:
dfFAM_STAT = df.select('family_status', 'family_status_id')
dfFAM_STAT = dfFAM_STAT.drop_duplicates().sort(['family_status_id'])
dfFAM_STAT.show()

+--------------------+----------------+
|       family_status|family_status_id|
+--------------------+----------------+
|     женат / замужем|               0|
|    гражданский брак|               1|
|      вдовец / вдова|               2|
|           в разводе|               3|
|Не женат / не зам...|               4|
+--------------------+----------------+

В двух предыдущих блоках мы создали два новых датафрейма, в которых хранятся значения уровня образования и его id в первом и статус семьи и его id во втором соответственно

In [116]:
df = df.drop('education','family_status')
df.show()

+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+
|children|     days_employed|dob_years|education_id|family_status_id|gender|income_type|debt|total_income|             purpose|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+
|       0|4341.7867754100425|       53|           1|               1|     F|  компаньон|   0|      261369|операции с недвиж...|
|       0|12930.541677797675|       61|           1|               4|     F|  компаньон|   0|      173896|        недвижимость|
|       1| 3267.738265311034|       45|           0|               1|     F|  сотрудник|   0|      118552|на проведение сва...|
|       2|2844.5470858598133|       40|           1|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|
|       1|1399.8326217520041|       40|           1|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|
|       1| 918.4577035188928|       28|           0|               0|     F|  компаньон|   0|      111341|     свой автомобиль|
|       1| 2194.220566878695|       26|           1|               1|     F|  компаньон|   0|      145017|операции с коммер...|
|       1| 883.7834692065311|       27|           1|               1|     F|  сотрудник|   0|      229051|  высшее образование|
|       1| 669.0530823899172|       41|           0|               0|     M|  компаньон|   1|      125377|сделка с подержан...|
|       0| 392327.7284041557|       66|           1|               0|     M|  пенсионер|   0|      106022|строительство жил...|
|       0|3402.0833655451306|       27|           1|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|
|       0| 1380.192461002104|       51|           1|               0|     M|  сотрудник|   0|      101941|          автомобиль|
|       0| 165.5972845299278|       54|           1|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|
|       1| 641.2886784154639|       34|           0|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|
|       0|1741.0828917220367|       56|           1|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|
|       0|1198.2809136383146|       43|           0|               3|     M|госслужащий|   0|      191350|строительство жил...|
|       0| 995.5496521801937|       43|           1|               1|     M|  сотрудник|   1|      143302|               жилье|
|       0| 3948.224795314823|       49|           1|               0|     F|  сотрудник|   0|       43538|       покупка жилья|
|       0|1368.2402581402926|       45|           1|               0|     M|  компаньон|   0|       57508|строительство нед...|
|       0|  333354.587972724|       58|           0|               0|     F|  пенсионер|   0|       69131|       покупка жилья|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+

удаляем столбцы education и family_status

In [117]:
df = df.withColumn('total_income_category', when ((df.total_income <= 30000), lit('E'))
                   .when((df.total_income >= 30001) & (df.total_income <= 50000), lit('D'))
                   .when((df.total_income >= 50001) & (df.total_income <= 200000), lit('C'))
                   .when((df.total_income >= 200001) & (df.total_income <= 1000000), 'B')
                   .otherwise(lit('A')))
df.show()

+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+
|children|     days_employed|dob_years|education_id|family_status_id|gender|income_type|debt|total_income|             purpose|total_income_category|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+
|       0|4341.7867754100425|       53|           1|               1|     F|  компаньон|   0|      261369|операции с недвиж...|                    B|
|       0|12930.541677797675|       61|           1|               4|     F|  компаньон|   0|      173896|        недвижимость|                    C|
|       1| 3267.738265311034|       45|           0|               1|     F|  сотрудник|   0|      118552|на проведение сва...|                    C|
|       2|2844.5470858598133|       40|           1|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|                    B|
|       1|1399.8326217520041|       40|           1|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|                    C|
|       1| 918.4577035188928|       28|           0|               0|     F|  компаньон|   0|      111341|     свой автомобиль|                    C|
|       1| 2194.220566878695|       26|           1|               1|     F|  компаньон|   0|      145017|операции с коммер...|                    C|
|       1| 883.7834692065311|       27|           1|               1|     F|  сотрудник|   0|      229051|  высшее образование|                    B|
|       1| 669.0530823899172|       41|           0|               0|     M|  компаньон|   1|      125377|сделка с подержан...|                    C|
|       0| 392327.7284041557|       66|           1|               0|     M|  пенсионер|   0|      106022|строительство жил...|                    C|
|       0|3402.0833655451306|       27|           1|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|                    C|
|       0| 1380.192461002104|       51|           1|               0|     M|  сотрудник|   0|      101941|          автомобиль|                    C|
|       0| 165.5972845299278|       54|           1|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|                    C|
|       1| 641.2886784154639|       34|           0|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|                    C|
|       0|1741.0828917220367|       56|           1|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|                    C|
|       0|1198.2809136383146|       43|           0|               3|     M|госслужащий|   0|      191350|строительство жил...|                    C|
|       0| 995.5496521801937|       43|           1|               1|     M|  сотрудник|   1|      143302|               жилье|                    C|
|       0| 3948.224795314823|       49|           1|               0|     F|  сотрудник|   0|       43538|       покупка жилья|                    D|
|       0|1368.2402581402926|       45|           1|               0|     M|  компаньон|   0|       57508|строительство нед...|                    C|
|       0|  333354.587972724|       58|           0|               0|     F|  пенсионер|   0|       69131|       покупка жилья|                    C|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+

Разделяем категории заработка

In [118]:
df = df.withColumn('purpose_category', when ((df.purpose.contains('авто')), lit('Операции с автомобилем'))
                   .when((df.purpose.contains('недвиж') | df.purpose.contains('жил')), lit('Операции с недвижимостью'))
                   .when((df.purpose.contains('свадьб')), lit('Проведение свадьбы'))
                   .otherwise(lit('Получение образования')))
df.show()

+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
|children|     days_employed|dob_years|education_id|family_status_id|gender|income_type|debt|total_income|             purpose|total_income_category|    purpose_category|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+
|       0|4341.7867754100425|       53|           1|               1|     F|  компаньон|   0|      261369|операции с недвиж...|                    B|Операции с недвиж...|
|       0|12930.541677797675|       61|           1|               4|     F|  компаньон|   0|      173896|        недвижимость|                    C|Операции с недвиж...|
|       1| 3267.738265311034|       45|           0|               1|     F|  сотрудник|   0|      118552|на проведение сва...|                    C|  Проведение свадьбы|
|       2|2844.5470858598133|       40|           1|               0|     F|  сотрудник|   0|      207374|        ремонт жилью|                    B|Операции с недвиж...|
|       1|1399.8326217520041|       40|           1|               0|     M|  сотрудник|   0|      181903|покупка жилой нед...|                    C|Операции с недвиж...|
|       1| 918.4577035188928|       28|           0|               0|     F|  компаньон|   0|      111341|     свой автомобиль|                    C|Операции с автомо...|
|       1| 2194.220566878695|       26|           1|               1|     F|  компаньон|   0|      145017|операции с коммер...|                    C|Операции с недвиж...|
|       1| 883.7834692065311|       27|           1|               1|     F|  сотрудник|   0|      229051|  высшее образование|                    B|Получение образов...|
|       1| 669.0530823899172|       41|           0|               0|     M|  компаньон|   1|      125377|сделка с подержан...|                    C|Операции с автомо...|
|       0| 392327.7284041557|       66|           1|               0|     M|  пенсионер|   0|      106022|строительство жил...|                    C|Операции с недвиж...|
|       0|3402.0833655451306|       27|           1|               0|     F|  сотрудник|   0|      161281|заняться высшим о...|                    C|Получение образов...|
|       0| 1380.192461002104|       51|           1|               0|     M|  сотрудник|   0|      101941|          автомобиль|                    C|Операции с автомо...|
|       0| 165.5972845299278|       54|           1|               0|     F|  сотрудник|   0|       69914|     свой автомобиль|                    C|Операции с автомо...|
|       1| 641.2886784154639|       34|           0|               0|     M|  сотрудник|   0|      176509|        ремонт жилью|                    C|Операции с недвиж...|
|       0|1741.0828917220367|       56|           1|               0|     F|  сотрудник|   0|       71174|операции с недвиж...|                    C|Операции с недвиж...|
|       0|1198.2809136383146|       43|           0|               3|     M|госслужащий|   0|      191350|строительство жил...|                    C|Операции с недвиж...|
|       0| 995.5496521801937|       43|           1|               1|     M|  сотрудник|   1|      143302|               жилье|                    C|Операции с недвиж...|
|       0| 3948.224795314823|       49|           1|               0|     F|  сотрудник|   0|       43538|       покупка жилья|                    D|Операции с недвиж...|
|       0|1368.2402581402926|       45|           1|               0|     M|  компаньон|   0|       57508|строительство нед...|                    C|Операции с недвиж...|
|       0|  333354.587972724|       58|           0|               0|     F|  пенсионер|   0|       69131|       покупка жилья|                    C|Операции с недвиж...|
+--------+------------------+---------+------------+----------------+------+-----------+----+------------+--------------------+---------------------+--------------------+

Приводим цели получения кредита к общему виду